Sprint_7/Desafio01_ETL/assets/*.csv

Sprint_8/Tarefa_02/assets/*.zip

Sprint_8/Tarefa_04/*.txt

Azimute/Sprint_7/Desafio01_ETL/assets/movies.csv
Azimute/Sprint_7/Desafio01_ETL/assets/series.csv
Azimute/Sprint_8/Tarefa_02/assets/minha-camada.zip
Azimute/Sprint_8/Tarefa_04/nomes_aleatorios.txt